:root{
    --primary-color: #fedc00;
    --icon-color: #252525;
}
html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-areas: "content";
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background-color: black;
}
header{
    place-self: start center;
    grid-area: content;
    max-width: 1200px;
    width: 100%;
    margin-top: 48px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    height: 100vh;
}
.projetos{
    width: 100%;
}
.contato{
    width: 100%;
    
}
footer{
    grid-area: content;
    place-self: end start;
    height: 50px;
    width: 100%;
    display: grid;
    place-content: center;
    font-size: .75rem;
    border-top: 2px solid #fff;
}
/* TABLET */
@media (max-width: 960px){
    header{
        max-width: 672px;
        width: 100%;
    }
}